body {
  margin: 0;
  background-color: #000015;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px grey;
}

.text-div {
  display: block;
  margin: auto;
  background-color: rgba(59, 71, 96, 0.8);
  width: 50%;
  height: 20vh;
  border-radius: 180%;
}

.text-div * {
  position: relative;
  top: 25%;
}

.button {
  width: 20%;
  background-color: #1a1a2e; /* Dark blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold font */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s ease; /* Smooth transition */
}

nav {
  background-color: #000030; /* Black-blue color */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0; /* Remove right margin from the last item */
}

nav ul li a {
  text-decoration: none;
  color: #fff; /* White text color */
  padding: 10px 20px;
  display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
  background-color: #000080; /* Darker shade of blue on hover */
}