html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000015;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

#title-img {
  display: block;
  
  width: 100%;
}

.img-with-text {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.text-over-image {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 110%);
  text-align: center;
  color: red;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px grey;
}

.text-div {
  display: block;
  margin: auto;
  background-color: rgba(59, 71, 96, 0.8);
  width: 50%;
  height: 20vh;
  border-radius: 180%;
}

.text-div * {
  position: relative;
  top: 25%;
}

.game-section {
  width: 80%;
  max-width: 700px;
  height: auto;

  padding-top: 2em;
  padding-bottom: 2em;
  
  margin-right: auto;
  margin-left: auto;

  margin-top: 20px;
  margin-bottom: 20px;

  background-color: rgb(60, 81, 119);
  border-radius: 3%
}

.game-image {
  position: relative;
  top: 5%;
  width: 63%
}

.game-title {
  position: relative;
  top: 4%;
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px grey;
  margin-bottom: 0;
}

.game-description {
  font-size: 2.3vw;
  margin-right: 10%;
  margin-left: 10%;
}

.play-button:hover {
    background-color: #0d0d1a; /* Darker blue on hover */
}

@media screen and (max-width: 700px) {
  #title-img {
    width: 200%
  }
}

@media screen and (min-width: 1000px) {
  .game-title {
    font-size: 4em;
  }

  .game-description {
    font-size: 1.5em;
  }
}

